<div class="searchpartial">
  <%= form_tag new_search_path, method: :get do %>
    <%= text_field_tag :location, nil, placeholder: 'Where would you like to stay?', class: 'col-md-3' %>
    <div>
    <%= date_field(:user, :born_on) %>
    </div>
    <div>
    <%= date_field(:user, :born_on) %>	
    </div>
    <div class="col-md-3 searchform">
    <%= submit_tag "Search",class: 'form-control btn-warning' %>
  	</div>	
  	<% end %>
</div>

