<section class="searchpartial text-center">
  <%= form_tag new_search_path, method: :get do %>
    <%= text_field_tag :location, nil, placeholder: 'Destination', :class => 'search-container' %>
    <span class="search-container">
    <%= date_field(:user, :born_on) %>
    </span>
    <span>
    <%= date_field(:user, :born_on) %>	
    </span>
    <span class="searchform">
    <%= submit_tag "Search", :class => 'search-container btn-warning' %>
  	</span>	
  	<% end %>
</section>

