<div class = "choose-room-container" >
<%= form_tag show_hotel_path, method: :get do %>

  

  <div class="check-in-container">
  Check In<br>
    <%= text_field_tag :arrivalDate, params[:arrivalDate], placeholder: 'MM/DD/YY', :data => {:provide => "datepicker"}, :class => 'search-container datepicker' %>
  </div>

  <div class="check-out-container">

  Check Out<br>

    <%= text_field_tag :departureDate, params[:departureDate], placeholder: 'MM/DD/YY', :data => {:provide => "datepicker"}, :class => 'search-container datepicker'  %>
  </div>
  <div class="hotelId">
    <%= text_field_tag :hotelId, @shovel["hotelId"], :class => 'search-container hotelId' %>
  </div>


  <div class="rooms-selector-container">
    Rooms<br>
    <select class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>

    </select>
  </div>

  <div class="rooms-selector-container">
    Adults<br>
    <select class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>

    </select>
  </div>
  <div class="rooms-selector-container">
    Children<br>
    <select class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>

    </select>
  </div>

    <div class="update-button-container">
    <%= submit_tag "Update",  :class => 'search-container btn-warning' %>
    </div>
<% end %>
</div>
    