
<div id="all-content">

	<div class="hotel-wrapper" id="map-padding">

		<div class="search-box">
			<%= render 'filter' %>
		</div>

		<% @hotels.each do |hotel| %>


			<div id="booker-logo" class="all-hotels">

				<div class="grow">

					<%= link_to show_hotel_path(:hotelId => hotel["hotelId"], :class => "link-underline") do %>

						<div class="results-image">

							<div class="results-image-inner">

								<img src="http://media.expedia.com<%= hotel["thumbNailUrl"][0...-5] + "b.jpg" %>" />

								<div class="price-box">
									<div class="hotel-rate price-info">$<%= hotel["lowRate"].round(0) %></div>
								</div>
								<div class="lower-info">
									<div class="hotel-name"><%= hotel["name"] %></div>

									<span class="hotel-rating"><%= hotel["hotelRating"] %> star hotel |</span>
									<span><%= link_to " Book Now",show_hotel_path(:hotelId => hotel["hotelId"]), :class => "book-now" %></span>

								</div>

							</div>

						</div>

					<% end %>

				</div>
				
			</div>

		<% end %>

	</div>

	<div class="map-wrapper">
		<div id="google-map"></div>
	</div>

</div>