<div class="sidebar-container">
	<div class="sidebar-price-container">
		<%= (number_to_currency(@room_responses["HotelRoomAvailabilityResponse"]["HotelRoomResponse"].first["RateInfos"]["RateInfo"]["ChargeableRateInfo"]["@averageRate"])) %>
		Per Night

	</div>


		


<div class="panel-group" id="accordion">
   <div class="panel panel-primary">
   
        <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#accordionOne">
              Amenities
            </a>
           </h4>
        </div>
		
        <div id="accordionOne" class="panel-collapse collapse">
          <div class="panel-body">
           <%= @detail["HotelDetails"]["amenitiesDescription"] %><br><br>
           <%= @detail["HotelDetails"]["businessAmenitiesDescription"] %>

          </div>
        </div>
  </div>
  
   <div class="panel panel-success">
	  
          <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#accordionTwo">
              Reviews
            </a>
          </h4>
          </div>
		 
        <div id="accordionTwo" class="panel-collapse collapse">
          <div class="panel-body">
            Reviews: <%= @detail["HotelSummary"]["tripAdvisorReviewCount"] %> <br>
            <%= image_tag @detail["HotelSummary"]["tripAdvisorRatingUrl"] %>
          </div>
        </div>
		
   </div>
   
    <div class="panel panel-warning">
	
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#accordionThree">
              Share
            </a>
          </h4>
        </div>
		
        <div id="accordionThree" class="panel-collapse collapse">
          <div class="panel-body">
          You must take personal responsibility.
            You cannot change the circumstances,
            the seasons, or the wind, but you can change yourself.
            That is something you have charge of.
        </div>
		
     </div>
	 
 </div>
</div>


