<div id="search-padding" class="row">
		<div class="col-md-7 relative-column">
			<% @hotels.each do |hotel| %>
				<!-- <div class="search-org"> -->
					<div class="col-md-6 search-results">
						<span id="booker-logo"><%= hotel["name"] %></span><br>
						<span id="booker-logo"><%= hotel["city"] %></span><br>
						<span id="booker-logo"><%= hotel["hotelRating"] %><span> / 10</span></span><br>
						<img src="http://media.expedia.com<%= hotel["thumbNailUrl"] %>" /><br><hr>
					</div>
					<div class="col-md-6 search-results">
						<%= hotel["name"] %><br>
						<%= hotel["city"] %><br>
						<%= hotel["hotelRating"] %><br>
						<img src="http://media.expedia.com<%= hotel["thumbNailUrl"] %>" class="hotel-image" width="200" height="150" /><br><hr>
						<%= link_to "Book Now",show_hotel_path(:hotelId => hotel["hotelId"]) %>
					</div>
				<!-- </div> -->
			<% end %>	
		</div>
		<div class="map-wrapper">
			<div id="google-map" class="col-md-5"></div>
		</div>
</div>


<%= @hotels %>
<%= @hotels.inspect %>


