
<%#= @detail["HotelImages"]["HotelImage"]["thumbNailUrl"] %>
<%#= @detail %>

<!-- all the hotel images in b.jpg (also available in z.jpg and t.jpg)-->
<% @detail["HotelImages"]["HotelImage"].each do |image| %>
	<%= image_tag(image["url"][0...-5] + "b.jpg")  %>
<% end %>
<br>

<div class="hotelshow-container">
</div>
<div class="vwmargin2">
</div>
<div class="sidebar-container">
</div>

<h1 class="text-center">Hotel Information</h1>
<table class="table table-hover table-striped table-condensed table-bordered">
  <thead>
    <tr class="row-margin">
      <th>Hotel Name</th>
      <th>Property Amenities</th>
	  <th>Business Amenities</th>
	  <th>Dining</th>
	  <th>Services</th>
	  <th>Rooms</th>
      <th colspan="9"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @detail["HotelSummary"]["name"]%></td>
        <td><!-- Property Amenities & services -->
			<% @detail["PropertyAmenities"]["PropertyAmenity"].each do |property| %>
				<%= property["amenity"] %><br>
			<% end %></td>
        <td><%= @detail["HotelDetails"]["businessAmenitiesDescription"] %></td>
        <td><%= @detail["HotelDetails"]["diningDescription"] %></td>
        <td><%= @detail["HotelDetails"]["amenitiesDescription"] %></td>
        <td><%= @detail["HotelDetails"]["roomDetailDescription"] %></td>
      </tr>
  </tbody>
</table>

<h1 class="text-center">Check-In Information</h1>

<table class="table table-hover table-striped table-condensed table-bordered">
  <thead>
    <tr class="row-margin">
      <th>Property Information</th>
      <th>CheckIn Instructions</th>
      <th>Hotel Policy</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @detail["HotelDetails"]["propertyInformation"] %></td>
        <td><%= @detail["HotelDetails"]["checkInInstructions"] %></td>
        <td><%= @detail["HotelDetails"]["hotelPolicy"] %></td>
      </tr>
  </tbody>
</table>

<h2 class="text-center">Room Information</h1>

<table class="table table-hover table-striped table-condensed table-bordered">
  <thead>
  	<tr class="row-margin">
  	  <th>Room Type</th>
      <th>Room Amenities</th>
  	</tr>
  </thead>
  <tbody>
	<!-- Room types -->
	<% @detail["RoomTypes"]["RoomType"].each do |detail| %>  
	  	<tr>
	  		<td>
	  			<%= detail["description"] %>
	  		</td>
	  		<!-- Room amenities -->
	  		<td>
		  		<% detail["roomAmenities"]["RoomAmenity"].each do |amenity| %>
		  			<%= amenity["amenity"] %><br>
		  		<% end %>
	  		</td>
	  	</tr>
  	<% end %>
  </tbody>
</table>
