<%#= @detail %>
<br><%= @detail["HotelSummary"] %>
	<!-- "name", "address1", "city", "stateProvinceCode", "postalCode", "countryCode", "hotelRating", "hotelRatingDisplay", "tripAdvisorRating", "tripAdvisorReviewCount", "tripAdvisorRatingUrl", "locationDescription", "highRate", "lowRate", "latitude", "longitude" -->
<%#= @detail["HotelDetails"] %>
	<!-- "numberOfRooms", "numberOfFloors", "checkInTime", "checkOutTime", "propertyInformation", "areaInformation", "hotelPolicy", "roomInformation", "drivingDirections", "checkInInstructions", "knowBeforeYouGoDescription", 
	"mandatoryFeesDescription", "locationDescription", "roomFeesDescription", "diningDescription", "amenitiesDescription", "businessAmenitiesDescription", "roomDetailDescription"  -->
<%#= @detail["Suppliers"] %>
<!-- Used in a loop -->
	<%#= @detail["RoomTypes"]["RoomType"] %>
	<%#= @detail["PropertyAmenities"]["PropertyAmenity"] %>
	<%#= @detail["HotelImages"]["HotelImage"] %>

<h1 class="text-center">Hotel Information</h1>
<div class="hotelshow-container">
</div>
<div class="vwmargin2">
</div>
<div class="sidebar-container">
</div>

<h1 class="text-center">About This Hotel</h1>
	<p>
		<%= @detail["HotelDetails"]["locationDescription"] %>
	</p>

<h1 class="text-center">Hotel Information</h1>
<table class="table table-hover table-striped table-condensed table-bordered">
  <thead>
    <tr class="row-margin">
      <th>Hotel Name</th>
      <th>Property Amenities</th>
	  <th>Business Amenities</th>
	  <th>Dining</th>
	  <th>Services</th>
	  <th>Rooms</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @detail["HotelSummary"]["name"]%></td>
        <td><!-- Property Amenities & services -->
			<% @detail["PropertyAmenities"]["PropertyAmenity"].each do |property| %>
				<li><%= property["amenity"] %></li>
			<% end %></td>
        <td><%= @detail["HotelDetails"]["businessAmenitiesDescription"] %></td>
        <td><%= @detail["HotelDetails"]["diningDescription"] %></td>
        <td><%= @detail["HotelDetails"]["amenitiesDescription"] %></td>
        <td><%= @detail["HotelDetails"]["roomDetailDescription"] %></td>
      </tr>
  </tbody>
</table>

<h1 class="text-center">Check-In Information</h1>

<table class="table table-hover table-striped table-condensed table-bordered">
  <thead>
    <tr class="row-margin">
      <th>Check-In</th>
      <th>Check-Out</th>
      <th>Property Information</th>
      <th>CheckIn Instructions</th>
      <th>Hotel Policy</th>
    </tr>
  </thead>

  <tbody>
      <tr>
      	<td><%= @detail["HotelDetails"]["checkInTime"]%></td>
      	<td><%= @detail["HotelDetails"]["checkOutTime"]%></td>
        <td><%= @detail["HotelDetails"]["propertyInformation"] %></td>
        <td><%= @detail["HotelDetails"]["checkInInstructions"] %></td>
        <td><%= @detail["HotelDetails"]["hotelPolicy"] %></td>
      </tr>
  </tbody>
</table>

<h1 class="text-center">Room Information</h1>

<table class="table table-hover table-striped table-condensed table-bordered">
  <thead>
  	<tr class="row-margin">
  	  <th>Room Type</th>
      <th>Room Amenities</th>
  	</tr>
  </thead>
  <tbody>
	<!-- Room types -->
	<% @detail["RoomTypes"]["RoomType"].each do |detail| %>  
	  	<tr>
	  		<td>
	  			<%= detail["description"] %>
	  		</td>
	  		<!-- Room amenities -->
	  		<td>
		  		<% detail["roomAmenities"]["RoomAmenity"].each do |amenity| %>
					<li>
						<%= amenity["amenity"] %>
					</li>
		  		<% end %>
		  			<%= detail["descriptionLong"][8...-6] %>
	  		</td>
	  	</tr>
  	<% end %>
  </tbody>
</table>

<h1 class="text-center">Images</h1>

	<!-- display the featured image of the hotel -->
	<h2>Featured Image</h2>
	<% @detail["HotelImages"]["HotelImage"].each do |image| %>
		<% if image["type"] == 1 %>
			<%= image_tag(image["url"][0...-5] + "b.jpg") %>
		<% end %>	
	<% end %>

	<!-- display the room images of the hotel -->
	<h2>Guest Rooms</h2>
	<% @detail["HotelImages"]["HotelImage"].each do |image| %>
		<% if image["caption"] == ("Guestroom" || "Guestroom View") %>
			<%= image_tag(image["url"][0...-5] + "b.jpg") %>
		<% end %>	
	<% end %>

	<!-- display the chapel -->
	<h2>Chapel</h2>
	<% @detail["HotelImages"]["HotelImage"].each do |image| %>
		<% if image["caption"] == "Chapel" %>
			<%= image_tag(image["url"][0...-5] + "b.jpg") %>
		<% end %>	
	<% end %>

	<!-- display the meeting rooms -->
	<h2>Meeting Facility</h2>
	<% @detail["HotelImages"]["HotelImage"].each do |image| %>
		<% if image["caption"] == "Meeting Facility" %>
			<%= image_tag(image["url"][0...-5] + "b.jpg") %>
		<% end %>	
	<% end %>

	<!-- display the bathrooms -->
	<h2>Bathrooms</h2>
	<% @detail["HotelImages"]["HotelImage"].each do |image| %>
		<% if image["caption"] == "Bathroom" %>
			<%= image_tag(image["url"][0...-5] + "b.jpg") %>
		<% end %>	
	<% end %>

	<!-- display restaurants -->
	<h2>Restaurant</h2>
	<% @detail["HotelImages"]["HotelImage"].each do |image| %>
		<% if image["caption"] == ("Restaurant") %>	
			<%= image_tag(image["url"][0...-5] + "b.jpg") %>
		<% end %>	
	<% end %>

	<!-- display the pools -->
	<h2>Pools</h2>
	<% @detail["HotelImages"]["HotelImage"].each do |image| %>
		<% if image["caption"] == ("Pool" || "Indoor Pool") %>	
			<%= image_tag(image["url"][0...-5] + "b.jpg") %>
		<% end %>	
	<% end %>

	<!-- all the hotel images in b.jpg (also available in z.jpg and t.jpg)-->
	<h2>All Images</h2>
	<% @detail["HotelImages"]["HotelImage"].each do |image| %>
		<%= image_tag(image["url"][0...-5] + "b.jpg")  %>
	<% end %>

	<h2>Room Rates</h2>
		$<%= @detail["HotelSummary"]["lowRate"].round(0) %><br>
		$<%= @detail["HotelSummary"]["highRate"].round(0) %>

	<h2>Address</h2>
		<%= @detail["HotelSummary"]["address1"] %>
		<%= @detail["HotelSummary"]["city"] %>
		<%= @detail["HotelSummary"]["postalCode"] %>
		<%= @detail["HotelSummary"]["countryCode"] %><br>
		<%= @detail["HotelSummary"]["locationDescription"] %>

	<h2>Rating</h2>
		<h4>Hotel Rating</h4>
		<%= @detail["HotelSummary"]["hotelRating"] %> Star
		<h4>Trip Advisor Rating</h4>
		<%= @detail["HotelSummary"]["tripAdvisorRating"] %>, 
		<%= @detail["HotelSummary"]["tripAdvisorReviewCount"] %> reviews
		<%= image_tag(@detail["HotelSummary"]["tripAdvisorRatingUrl"], size: "16x10")%>
		
