<script>
$(function(){ // document ready
 
  var stickyTop = $('.amenity-sidebar').offset().top; // returns number 
 
  $(window).scroll(function(){ // scroll event  
 
    var windowTop = $(window).scrollTop(); // returns number
 
    if (stickyTop < (windowTop*1.12)) {
      $('.amenity-sidebar').css({ position: 'fixed', top: '50px', right: '2vw'});
    }
    else {
      $('.amenity-sidebar').css({ position: 'relative', top: '-7vh', right: '2vw'});
    }
 
  });
 
});
</script>

	<section id="booker-logo">

	    <div class="top-image-container top-image">

	        <div id="links">

		            <% @detail["HotelImages"]["HotelImage"].each do |image| %>
		                <span id="testing"><a href=<%= image["url"][0...-5] + "z.jpg" %>>
		                <img class="top-image" src=<%= image["url"][0...-5] + "z.jpg"%> onerror="this.onerror=null;this.src='<%=image["url"]%>';">
		                </a></span>
		            <% end %>
	            
	        </div>

	    </div>


		<div class="hotelshow-container">
			<div class="title-container">
				<div class="centered-container">
					<h1><%= @detail["HotelSummary"]["name"]%></h1>
					<h4><%= @detail["HotelSummary"]["address1"]%>,
					<%= @detail["HotelSummary"]["city"]%>,
					<%= @detail["HotelSummary"]["stateProvinceCode"]%>
					 <%= @detail["HotelSummary"]["countryCode"]%><span>  |  </span>
					 <% if @detail["HotelSummary"]["hotelRating"] %>
        					<div id="star-rating">
        					<%= render_stars(@detail["HotelSummary"]["hotelRating"]) %>
   							</div> 
    					<% end %>	
					</h4>
				</div>
			</div>
			<hr>

			<div class="about-container">
				<h3>About This Hotel</h3><br>
				<p><%= @detail["HotelDetails"]["locationDescription"] %><br><br>
				The room rates listed are for double occupancy per room unless otherwise stated and exclude tax recovery charges and service fees.</p>
				<hr>
			</div>

			<div class="choose-room-container">
				<h3>Choose Your Room</h3><br>
				<%= render 'choose_room' %>
				<hr>
			</div>


			<div class="room-selection-container">
				<h3> Room Options </h3>
				<%= render 'rooms' %>
			</div>
<section class="masonry-grid">
	<div class="grid js-masonry"
		data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>

		<div class="grid-item">
			<div id="links">
				<% @detail["HotelImages"]["HotelImage"].each do |image| %>
				
			        <a href=<%= image["url"][0...-5] + "z.jpg" %>>

			        <img class="grid-item" src=<%= image["url"][0...-5] + "z.jpg" %> onerror="this.onerror=null;this.src='<%=image["url"]%>';">			  
			        </a>
			    <% end %>
			</div>
		</div>
	</div>
</section>
				</div>


			<div class="amenity-sidebar">

				<%= render 'sidebar' %>

	


