<%#= @detail.to_json %>
<%#= @detail["HotelInformationResponse"]["HotelDetails"] %>

<h1 class="text-center">Hotel Information</h1>

<table class="table table-hover table-striped table-condensed table-bordered">
  <thead>
    <tr class="row-margin">
      <th>Hotel Name</th>
      <th>CheckIn Time</th>
      <th>CheckOut Time</th>
      <th>CheckIn Instructions</th>
      <th>Know Before You Go Description<th>
      <th>Property Information</th>
      <th>Business Amenities</th>
      <th colspan="9"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @detail["HotelInformationResponse"]["HotelSummary"]["name"]%></td>
        <td><%= @detail["HotelInformationResponse"]["HotelDetails"]["checkInTime"] %></td>
        <td><%= @detail["HotelInformationResponse"]["HotelDetails"]["checkOutTime"] %></td>
        <td><%= @detail["HotelInformationResponse"]["HotelDetails"]["checkInInstructions"] %></td>
        <td><%= @detail["HotelInformationResponse"]["HotelDetails"]["knowBeforeYouGoDescription"] %></td>
        <td></td>
        <td><%= @detail["HotelInformationResponse"]["HotelDetails"]["propertyInformation"] %></td>
        <td><%= @detail["HotelInformationResponse"]["HotelDetails"]["businessAmenitiesDescription"] %></td>
      </tr>
  </tbody>
</table>

<h2 class="text-center">Room Information</h1>

<table class="table table-hover table-striped table-condensed table-bordered">
  <thead>
  	<tr class="row-margin">
  	  <th>Room Type</th>
      <th>Amenities</th>
  	</tr>
  </thead>
  <tbody>
	<!-- Room types -->
	<% @detail["HotelInformationResponse"]["RoomTypes"]["RoomType"].each do |detail| %>  
	  	<tr>
	  		<td>
	  			<%= detail["description"] %>
	  		</td>
	  		<!-- Room amenities -->
	  		<td>
		  		<% detail["roomAmenities"]["RoomAmenity"].each do |amenity| %>
		  			<%= amenity["amenity"] %><br>
		  		<% end %>
	  		</td>
	  	</tr>
  	<% end %>
  </tbody>
</table>